# Dependencies
node_modules/

# =========================
# Environment Files
# =========================

# Ignore all environment files
.env
.env.*
!.env.example
# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build
dist/
